[Unit]
Description=Drone server
Documentation=http://docs.drone.io
After=network.target

[Service]
EnvironmentFile=/etc/drone/server.conf
ExecStart=/usr/bin/drone-server
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
ProtectKernelTunables=true
ProtectControlGroups=true
ReadWritePaths=/var/lib/drone

[Install]
WantedBy=multi-user.target
